<div id="<%= dom_id listing %>">

<body class="bg-dark text-white">

<div class="card shadow text-bg-light text-black mb-3 " style="width: 100%; max-width: 300px;">
  
<p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= listing.location %>
  </p>

  <p>
    <strong>Crop:</strong>
    <%= listing.crop.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= listing.user.name%>
  </p>

  <p>
  <%= link_to "Show", listing , class: "btn btn-outline-dark mx-2"%>
  
  <%= link_to "Create", new_listing_path, class: "btn btn-outline-dark mx-2" %>
  </p>
  

</div>
