<%= form_with(model: crop_category) do |form| %>
  <% if crop_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(crop_category.errors.count, "error") %> prohibited this crop_category from being saved:</h2>

      <ul>
        <% crop_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
          <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"> Crop Category </h3>
  <form>

    <div class="field form-group">
      <%=form.label :category_name , style: "display: block" %>
      <%= form.text_field :category_name, required:true,class:"form-control" , placeholder:"Enter Hybrid / Organic"%>
    </div>
    <br>
    
    <div class="field form-group">
  <%= form.label :growing_condition, style: "display: block" %>
  <%= form.select :growing_condition, options_for_select([
                    ['Kharbi', 'kharbi'],
                    ['Rabi', 'rabi'],
                    ['Summer', 'summer'],
                    ['Monsoon', 'monsoon'] 
                  ]), 
                  { prompt: 'Select Growing Condition' }, 
                  class: 'form-control', 
                  required: true
  %>
</div>

    <br>
    <div style="text-align: center; margin-top: 20px;",class="btn btn-primary">
      <%= form.submit %>
    </div>
    

  </form>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>

